.header {
  padding: 32px 10px;
  padding-right: 24px;
  z-index: 21000;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "Garmond";
  display: flex;
  justify-content: flex-end;
  a {
    position: relative;
    transition: 0.3s;
    // color: rgb(17, 31, 46);
    // color:rgb(14, 25, 37);

    // text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 10px #fff, 0 0 11px #0077ff,
    //   0 0 10px #e0e0e0, 0 0 10px #dbdbdb, 0 0 5px #0077ff, 0 0 3px #0077ff;
    cursor: pointer;
    // text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 1px #0077ff,
    //   0 0 1px #e0e0e0, 0 0 2px #dbdbdb, 0 0 1px #0077ff, 0 0 2px #0077ff;
    &:hover {
      // text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px red,
      //   0 0 20px red, 0 0 30px red, 0 0 55px red, 0 0 80px red;
      text-shadow: 0 0 0.1px #fff, 0 0 0.2px #fff, 0 0 5px #fff,
        0 0 11px #0077ff, 0 0 20px #e0e0e0, 0 0 30px #dbdbdb, 0 0 55px #0077ff,
        0 0 80px #0077ff;
    }
  }

  ul {
    justify-content: flex-end;
    padding-right: 24px;
  }
  .navigation {
    @media (max-width: 800px) {
      display: none;
    }
  }
}

.burger {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: white;
  //   display: none;
  text-transform: uppercase;
  // background: #0077ff42;
  background: #fc294954;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  //   display: block;
  border: 3px solid white;
  transition: 0.3s ease-out;
  box-shadow: 0px 0px 0px 2px #fc2947, inset 0px 0px 0px 2px #fc2947,
    0px 0px 30px 4px #fc2947, inset 0px 0px 20px 4px #fc2947;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0077ff,
    0 0 20px #e0e0e0, 0 0 30px #dbdbdb, 0 0 55px #0077ff, 0 0 80px #0077ff;
  transition: 0.5s;

  @media (max-width: 800px) {
    display: flex;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__icon-inner {
    position: relative;
    width: 60%;
    height: 30%;
    // background-color: rgb(211, 211, 211);
    span {
      display: block;
      width: 100%;
      height: 4px;
      background-color: white;
      position: absolute;
      transition: 0.4s;
      box-shadow: 0px 0px 0px 0.5px #fc2947, inset 0px 0px 0px 0.5px #fc2947,
        0px 0px 1px 0.5px #fc2947, inset 0px 0px 1px 0.5px #fc2947;
      &:nth-child(1) {
        top: 0;
        right: 0;
        transform-origin: left;
      }
      &:nth-child(2) {
        top: calc(50% - 3px);
        right: 0;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
    &:hover {
      span {
        &:nth-child(1) {
          // transform: rotate(45deg);
        }
        &:nth-child(2) {
        }
        &:nth-child(3) {
        }
      }
    }
  }

  &__inner {
    backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 100%;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    background-color: #0077ff46;
    font-size: 16px;
    &.active {
      left: 0;
    }
    nav,
    ul {
      height: 100%;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    li {
      font-size: 24px;
      padding: 32px 16px;
      width: 100%;
      text-align: center;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
  &__nav {
    // height: 100%;
  }
}
