.work-example {
  transform: scale(0);
  z-index: 30000;
  transition: 0.3s ease-in-out;
  // background-color: #4f6884;
  &.active {
    // animation: popup 2s ease-in-out forwards;
    // position: relative;
    transform: scale(1);
    backdrop-filter: blur(25px) grayscale(1);
  }

  height: 100%;
  // overflow-y: scroll;
  &__content {
    display: grid;
    grid-template-columns: 40% 1fr;
    height: 100%;
    // padding: 50px;
    border: 1px solid black;
    // overflow-y: scroll;
    position: relative;
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      height: 100%;
      overflow-y: scroll;
    }
  }
  &__content-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // filter: blur(10px);
    // background-color: rgba(255, 255, 255, 0.155);
  }
  &__description {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    // padding-top: 200px;
    padding: 40px;
    line-height: 1.4;
    // background-color: #ffffff3e;
    // background: linear-gradient(to right, #ffffff94 0%, #ffffff00 50%);
    // background: linear-gradient(
    //   to right,
    //   #6baede67 20%,
    //   #ffc0cb3d 50%,
    //   #ffc0cb00 70%
    // );
    background: linear-gradient(
      to right,
      #20619a23 20%,
      #ffc0cb3d 50%,
      #ffc0cb00 70%
    );

    color: #105aa91f;
    @media (max-width: 900px) {
      order: 1;
      padding-top: 100px;
      background: linear-gradient(
        to bottom,
        #6baede95 20%,
        #ffc0cb3d 50%,
        #ffc0cb00 70%
      );
      height: max-content;
    }
    p {
      margin-bottom: 1rem;
      color: white;
    }
  }

  &__description-title {
    font-size: 50px;
    margin-bottom: 32px;
    text-align: center;
    filter: drop-shadow(1px 5px 5px rgba(255, 66, 66, 0.374));
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0077ff,
      0 0 20px #e0e0e0, 0 0 30px #dbdbdb, 0 0 55px #0077ff, 0 0 80px #0077ff;
    user-select: none;
  }

  &__description-inner {
    width: 100%;
    // background-color: #0077ff1f;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 32px;
    // border: 3px solid rgba(255, 255, 255, 0.269);
    box-shadow: 0px 0px 10px 2px #1aa7e8, inset 0px 0px 10px 2px #1aa7e8,
      0px 0px 15px 2px #1aa7e8, inset 0px 0px 10px 1px #1aa7e8;
    background: linear-gradient(
      to right bottom,
      #0d0c1a90 20%,

      #d24858b3 40%,
      #0d2c4f1b 50%,
      #0347728f 70%,
      #0000000f 90%
    );
    background: linear-gradient(
      to right bottom,
      #0d0c1ab3 0%,
      #ffffff00 40%,
      #0347728f 70%,
      #d24858b3 // #03477215 70%
    );
    box-shadow: 15px 15px 20px 2px #292929a8, inset 0 0 30px #ffffff4e;

    color: rgb(218, 218, 218);
  }
  &__description-item {
    margin-bottom: 32px;
  }
  &__description-item-title {
    text-transform: uppercase;
    font-weight: 400;
  }
  &__description-item-text {
  }
  ul {
    padding-left: 20px;
  }
  &__button-back {
    position: absolute;
    top: -80px;
    left: -80px;
    width: 200px;
    height: 200px;
    font-size: 22px;
    padding-top: 40px;
    padding-left: 40px;
    text-transform: uppercase;
    // background: #0077ff42;
    background: #fc294954;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: block;
    border: 3px solid white;
    transition: 0.3s ease-out;
    box-shadow: 0px 0px 0px 2px #d24858, inset 0px 0px 0px 2px #d24858,
      0px 0px 20px 4px #d24858, inset 0px 0px 20px 4px #d24858;
    // box-shadow: 0px 0px 0px 2px #fc2947, inset 0px 0px 0px 2px #fc2947,
    //   0px 0px 20px 4px #fc2947, inset 0px 0px 20px 4px #fc2947;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0077ff,
      0 0 20px #e0e0e0, 0 0 30px #dbdbdb, 0 0 55px #0077ff, 0 0 80px #0077ff;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 20px 10px #fc2947, inset 0px 0px 10px 10px #fc2947,
        0px 0px 20px 10px #fc2947, inset 0px 0px 20px 10px#fc2947;
      // box-shadow: 0px 0px 20px 10px #1aa7e8, inset 0px 0px 10px 10px #1aa7e8,
      //   0px 0px 20px 10px #1aa7e8, inset 0px 0px 20px 10px #1aa7e8;
      top: -45px;
      left: -45px;
      padding: 0;

      // filter: brightness(1.7);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__button-visit {
    color: white;
    width: 300px;
    height: 60px;
    font-size: 18px;
    text-transform: uppercase;
    // background: #0077ff42;
    background: linear-gradient(
      to right bottom,
      #0d0c1ab3 0%,
      #ffffff00 50%,
      #d2485865 // #03477215 70%
    );
    box-shadow: 8px 4px 14px 3px #2c2c2c;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    transition: 0.3s;
    // box-shadow: 0px 0px 0px 2px #1aa7e8, inset 0px 0px 0px 2px #1aa7e8,
    //   0px 0px 15px 4px #1aa7e8, inset 0px 0px 10px 4px #1aa7e8;
    // text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0077ff,
    //   0 0 20px #e0e0e0, 0 0 30px #dbdbdb, 0 0 55px #0077ff, 0 0 80px #0077ff;
    &:hover {
      transform: scale(1.1);
      // box-shadow: 0px 0px 20px 3px #1aa7e8, inset 0px 0px 10px 3px #1aa7e8,
      //   0px 0px 20px 3px #1aa7e8, inset 0px 0px 20px 3px #1aa7e8;
      // // bottom: -30px;
      box-shadow: 0px 0px 20px 3px #10658d, inset 0px 0px 10px 3px #10658d,
        0px 0px 20px 3px #10658d, inset 0px 0px 20px 3px #10658d;
      // bottom: -30px;
      // right: -30px;
      border: 3px solid white;
      filter: brightness(1.2);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    @media (max-width: 900px) {
      order: 2;
      height: 600px;
    }
  }
  &__image-inner {
    width: 80%;
    height: 60%;
    padding: 20px;
    // background-color: red;
    // overflow: hidden;
    transform: perspective(800px) rotateY(-45deg) rotateX(10deg) rotateZ(0deg);
    &:hover {
      transform: perspective(800px) rotateY(-10deg) rotateX(10deg) rotateZ(0deg);
    }
    transition: 0.9s ease-in-out;
    border: 2px solid white;
    border-radius: 7px;
    // box-shadow: 0px 0px 0px 2px red, inset 0px 0px 0px 2px red,
    //   0px 0px 2px 4px red, inset 0px 0px 2px 4px red;
    box-shadow: 0px 0px 0px 1px #fc2947, inset 0px 0px 10px 1px #fc2947,
      0px 0px 30px 1px #fc2947, inset 0px 0px 30px 1px #fc2947;
    overflow-y: scroll;
    // scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      background-color: #ffffff42;
    }

    &::-webkit-scrollbar-thumb {
      // width: 4px;
      border-radius: 4px;
      background-color: #ffffff;
      // box-shadow: 0px 0px 10px 10px white, inset 0 0 1px rgb(255, 255, 255),
      //   0px 0px 5px 5px white, inset 0px 0px 0px 1px white;
      // box-shadow: 0px 0px 2px 1px red, inset 0px 0px 0px 1px red,
      //   0px 0px 2px 2px red, inset 0px 0px 3px 1px red;
      box-shadow: 0px 0px 5px 1px #ffffff, inset 0px 0px 2px 1px #fc2947,
        0px 0px 20px 1px #ffffff, inset 0px 0px 2px 0.1px #fc2947;
      border: 2px solid white;
    }

    // scrollbar-color: #6969dd #e0e0e0;
    // scrollbar-width: thin;
  }
  &__image {
    // background-color: rgb(194, 183, 97);

    // height: 70%;
    width: 100%;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: top center;
    }
  }
}

@keyframes popup {
  0% {
    transform: scale(0);
    z-index: 2000;
  }
  100% {
    transform: scale(1);
  }
}
