.about {
  font-family: "CenturyExpanded";
  letter-spacing: 1.5px;
  font-size: 1rem;
  position: relative;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: white;

  overflow: hidden;

  width: 100%;

  // &__inner {
  //   position: relative;
  //   height: 100%;
  //   // overflow-y: scroll;
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  // }
  &__title {
    // position: absolute;
    // top: 50px;
    // left: 60px;
    padding-top: 40px;
    padding-left: 16px;
    font-size: 36px;
    // margin-bottom: 32px;
    // padding-bottom: 32px;
    height: 10%;
    // border: 1px solid yellow;
    color: #fff;
    // text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #0fa,
    //   0 0 20px #0fa, 0 0 30px #0fa, 0 0 55px #0fa, 0 0 80px #0fa;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px #21ce97ee,
      0 0 20px #21ce97ee, 0 0 30px #21ce97ee, 0 0 55px #21ce97ee,
      0 0 80px #21ce97ee;
  }

  &__content-wrapper {
    height: 90%;
    display: flex;
    align-items: center;
    @media (max-width: 800px) {
      overflow-y: scroll;
    }
  }
  &__content {
    display: flex;
    gap: 50px;
    // align-items: center;
    justify-content: center;
    height: fit-content;
    padding-bottom: 150px;
    // background-color: rgba(255, 0, 0, 0.285);
    // border: 1px solid red;

    @media (max-width: 900px) {
      flex-wrap: wrap;
      overflow-y: scroll;
    }
  }
  &__text {
    backdrop-filter: blur(17px);
    font-family: "Garmond";
    position: relative;
    background: linear-gradient(
      to right bottom,
      #0d2c4f68 20%,
      #21ce97ae 40%,
      #0d2c4fc9 50%,
      #0d2c4f00 80%,
      #0077ff3c 90%
    );
    // mask-image: linear-gradient(#000 0%, #000 70%, transparent 90%);
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    // height: 300px;
    line-height: 1.4;
    box-shadow: 15px 15px 50px 1px #0095ff44;
    p {
      font-size: 16px;
      font-weight: 400;
      text-indent: 30px;
      color: rgb(240, 240, 240);
    }

    @media (max-width: 900px) {
      width: 100%;
    }
  }

  &__text-stack {
  }
  &__image {
    height: 450px;
    position: relative;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    filter: grayscale(0.8) saturate(4);
    @media (max-width: 900px) {
      width: 100%;
    }
    @media (max-width: 500px) {
    }
    img {
      mask-image: linear-gradient(#000, transparent);
      mask-image: linear-gradient(#000 0%, #000 70%, transparent 90%);
      width: 100%;
      object-fit: cover;
    }
  }
}
