@font-face {
  font-family: "Garmond";
  src: url("/fonts/Garmond/garamond.woff") format("woff2");
  // url('/fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "CenturyExpanded";
  src: url("/fonts/CenturyExpanded.woff/CenturyExpanded.woff") format("woff2");
  // url('/fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "CenturyExpanded";
  src: url("/fonts/CenturyExpanded.woff/CenturyExpanded.woff") format("woff2");
  // url('/fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

$border-color: yellow;

body {
  // overflow: hidden;
  width: 100%;
  height: 100%;
}

.mainSection {
  height: 100vh;
  canvas {
    height: 100vh;
  }
}

section {
  width: 100%;
  // padding: 50px;
  position: absolute;
  left: 0;
  top: 0;
  color: #3223bc;
  user-select: none;
  // color: #0077ff;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  // background-color: yellow;
  opacity: 0;
  backdrop-filter: blur(5px) grayscale(1) contrast(1.01);
}

.wrapper {
  // color: #69bca1;
  // max-width: 1400px;
  width: 100%;
  height: 100%;
  // backdrop-filter: blur(20px) grayscale(1) contrast(1.01);
  pointer-events: none;
  // color: rgb(13, 29, 41);
  position: absolute;
  top: 0;
  left: 0;
  // transform: translateX(-50%);
  z-index: 20000;

  @media (max-width: 900px) {
    // overflow-y: scroll;
    // padding: 0px 24px;
  }
  // &.blured {
  //   filter: blur(25px) grayscale(1);
  //   background-color: #041b3564;
  // }
}

.app-inner {
  position: relative;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.canvas-container {
  position: relative;
  // &.blured {
  //   filter: blur(10px);
  // }
  canvas {
    // filter: blur(10px);
    transition: 0.5s;
    // filter: contrast(1.1) saturate(0.7);
  }
}

@keyframes neonlight {
  0% {
    box-shadow: 15px 15px 50px 2px #0095ff45;
  }
  50% {
    box-shadow: 15px 15px 50px 2px #4fb6ffa1;
  }
  100% {
    box-shadow: 15px 15px 50px 2px #0095ff45;
  }
}

@keyframes neonlight2 {
  0% {
    box-shadow: 0px 0px 0px 2px #0077ff00, inset 0px 0px 0px 2px #0077ff00,
      0px 0px 20px 4px #0077ff00, inset 0px 0px 20px 4px #0077ff00;
  }
  50% {
    box-shadow: 0px 0px 0px 2px #0077ff, inset 0px 0px 0px 2px #0077ff,
      0px 0px 20px 4px #0077ff, inset 0px 0px 20px 4px #0077ff;
  }
  100% {
    box-shadow: 0px 0px 0px 2px #0077ff00, inset 0px 0px 0px 2px #0077ff00,
      0px 0px 20px 4px #0077ff00, inset 0px 0px 20px 4px #0077ff00;
  }
}

@keyframes flicker {
  /* максимальное свечение */
  100% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 8px #fff, 0 0 15px #0fa,
      0 0 30px #0fa, 0 0 40px #0fa, 0 0 70px #0fa, 0 0 100px #0fa;
  }
  /* минимальное свечение */
  0% {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 9px #0fa,
      0 0 20px #0fa, 0 0 30px #0fa, 0 0 55px #0fa, 0 0 80px #0fa;
  }
}

svg .svg-elem-1 {
  stroke-dashoffset: 118.6190414428711px;
  stroke-dasharray: 118.6190414428711px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  fill: rgb(0, 0, 0);
}

.work-expirience__canvas {
  width: 100%;
  height: 100%;
}

.scroll-text {
  position: fixed;
  z-index: 50;
  font-weight: 600;
  bottom: 42px;
  left: 50%;
  transform: translateX(-50%);
  @media (max-width: 1000px) {
    display: none;
  }

  &__dots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 16px;
  }
  &__dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #191919;
    animation: scrollDots 2s ease-in-out infinite;
    // filter: drop-shadow(2px 2px 7px #0091ff);
    box-shadow: 0px 0px 10px 0.5px #ffffff, 0px 0px 1px 0.5px #ffffff;

    &:nth-child(1) {
      // animation: name duration timing-function delay iteration-count direction fill-mode;
    }
    &:nth-child(2) {
      animation-delay: 0.35s;
    }
    &:nth-child(3) {
      animation-delay: 0.7s;
    }
  }

  &__content {
    color: #152531d3;
    font-size: 20px;
    color: rgb(22, 22, 22);
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 9px #dfdfdf,
      0 0 20px #d7d7d7, 0 0 30px #b5b5b5, 0 0 55px #ffffff, 0 0 80px #ffffff;
    animation: scrollText 2s ease-in-out 1s infinite;
  }
}

@keyframes scrollDots {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes scrollText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes mainText {
  0% {
    opacity: 0.5;
    filter: brightness(1);
  }
  50% {
    opacity: 1;
    filter: brightness(2);
  }
  100% {
    opacity: 0.5;
    filter: brightness(1);
  }
}

.front-text {
  position: fixed;
  z-index: 80;
  top: 70px;
  // animation: mainText 6s ease-in-out 1s infinite;
  left: 70px;
  text-align: center;
  font-size: 42px;
  color: #141414;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 9px #dfdfdf,
    0 0 20px #d7d7d7, 0 0 30px #b5b5b5, 0 0 55px #c3e5ff, 0 0 80px #75c3ff;
  @media (max-width: 500px) {
    top: 30px;
    left: 23px;
  }
  @media (max-width: 800px) {
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 18px;
    letter-spacing: 8px;
    text-align: center;
    font-size: calc((100vw - 375px) / (1920 - 375) * (56 - 32) + 32px);
    @media (min-width: 1920px) {
      font-size: 56px;
    }
    span {
      @media (max-width: 500px) {
        display: block;
        width: 100%;
      }
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: calc((100vw - 375px) / (1920 - 375) * (36 - 22) + 22px);
    @media (min-width: 1920px) {
      font-size: 36px;
    }
  }
}
.front-text2 {
  // position: fixed;
  z-index: 80;
  // top: 70px;
  // animation: mainText 6s ease-in-out 1s infinite;
  // left: 70px;
  text-align: center;
  font-size: 42px;
  color: #141414;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 9px #dfdfdf,
    0 0 20px #d7d7d7, 0 0 30px #b5b5b5, 0 0 55px #c3e5ff, 0 0 80px #75c3ff;
  &__title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 18px;
    letter-spacing: 8px;
    font-size: calc((100vw - 375px) / (1920 - 375) * (56 - 32) + 32px);
    @media (min-width: 1920px) {
      font-size: 56px;
    }
    @media (max-width: 700px) {
      // font-size: 26px;
      hyphens: none;
      -webkit-hyphens: none;
    }
    @media (max-width: 800px) {
    }
    @media (min-width: 800px) {
    }
    @media (max-width: 800px) {
      display: flex;
      flex-wrap: wrap;
    }
    span {
      @media (max-width: 500px) {
        display: block;
        width: 100%;
      }
      &:first-child {
        margin-right: 10px;
      }
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: calc((100vw - 375px) / (1920 - 375) * (36 - 22) + 22px);
    @media (min-width: 1920px) {
      font-size: 36px;
    }
  }
}

.loader {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ff000024;
}

.circle {
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: red;
  transition: 10.5s;
  &.entering {
  }
  &.entered {
  }
  &.exiting {
  }
  &.exited {
    opacity: 0;
  }
}
